@tailwind base;
@tailwind components;
@tailwind utilities;

[data-gauge] g.value-text text {
  fill: black !important;
  text-shadow: none !important;
  font-weight: 700;
}

[data-gauge] svg:hover {
  overflow: visible;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background: #8070d4 !important;
  border: 6px solid rgba(0, 0, 0, 0.2) !important;
}